In [2]:
# import lib
import pandas as pd

df_08 = pd.read_csv('2008.csv')
df_08.head(1)

,MDLYR_DT,VI_MFR_CD,VI_MFR_NM,GBE_INDX_NUM,OV_ID,VC_CNFG_NUM,CL_NM,CLS_TYP_CD,GBE_CID_MSR,GBE_PLC_IND_CD,...,TPF_DYN_TRK_A_MSR,TPF_DYN_TRK_B_MSR,TPF_DYN_TRK_C_MSR,TPF_EDYN_TRK_A_MSR,TPF_EDYN_TRK_B_MSR,TPF_EDYN_TRK_C_MSR,ENG_CD,EF_ID,VC_CYL_CNT,TPF_MFR_CSTDN_MSR
0,2008,20,Chrysler LLC,7,L6DR17260,9,RAM 1500 PICKUP 2WD,T,348,N,...,51.38,0.5715,0.03058,17.6,0.8078,0.02675,FA-700,8CRXT05.7PE0,8,16.32

In [8]:
# Drop exteaneous columns
# df_08.drop(['VI_MFR_NM', 'OV_ID', 'CL_NM'], axis=1, inplace=True)

df_08.head()

,MDLYR_DT,VI_MFR_CD,GBE_INDX_NUM,VC_CNFG_NUM,CLS_TYP_CD,GBE_CID_MSR,GBE_PLC_IND_CD,VC_RTD_HP_MSR,ECS_CD,ECS_CD_0,...,TPF_DYN_TRK_A_MSR,TPF_DYN_TRK_B_MSR,TPF_DYN_TRK_C_MSR,TPF_EDYN_TRK_A_MSR,TPF_EDYN_TRK_B_MSR,TPF_EDYN_TRK_C_MSR,ENG_CD,EF_ID,VC_CYL_CNT,TPF_MFR_CSTDN_MSR
0,2008,20,7,9,T,348,N,345,NaN,NaN,...,51.38,0.5715,0.03058,17.60,0.80780,0.02675,FA-700,8CRXT05.7PE0,8,16.32
1,2008,20,7,9,T,348,N,345,NaN,NaN,...,51.38,0.5715,0.03058,17.60,0.80780,0.02675,FA-700,8CRXT05.7PE0,8,NaN
2,2008,20,7,8,T,348,N,345,NaN,NaN,...,51.38,0.5715,0.03058,17.60,0.80780,0.02675,FA-900,8CRXT05.7PE0,8,16.32
3,2008,20,7,8,T,348,N,345,NaN,NaN,...,51.38,0.5715,0.03058,17.60,0.80780,0.02675,FA-900,8CRXT05.7PE0,8,NaN
4,2008,20,151,7,T,231,N,190,NaN,NaN,...,33.68,0.9178,0.03235,16.84,0.18356,0.03235,FA-100,8CRXT03.8NE1,6,NaN