In [18]:
import pandas as pd

red_df = pd.read_csv('winequality-red.csv', sep=';')
white_df = pd.read_csv('winequality-white.csv', sep=';')

print(red_df.shape)

print(white_df.shape)

white_df.duplicated().sum()

(1599, 12)
(4898, 12)

937

In [23]:
red_df.quality.nunique()

6

In [24]:
red_df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [25]:
white_df.quality.nunique()

7

In [26]:
red_df.density.mean()

0.9967466791744841

In [38]:
import numpy as np

#create color columns
color_red = np.repeat('red', red_df.shape[0])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [37]:
red_df['color'] = color_red
red_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [39]:
color_white = np.repeat('white', white_df.shape[0])
white_df['color'] = color_white
white_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [46]:
wine_df = pd.concat([red_df, white_df])

wine_df.head()

wine_df.to_csv('wine_df_combined.csv')

In [48]:
wine_df.shape

(6497, 13)

In [64]:
w_df = pd.read_csv('wine_df_combined.csv', header=0)
w_df.head()

,Unnamed: 0,fixed_acidity,volatile acidity,citric acid,residual_sugar,chlorides,free sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [57]:
w_df.groupby('quality').mean()

C:\Users\nguye\AppData\Local\Temp\ipykernel_2172\67676815.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  w_df.groupby('quality').mean()

,Unnamed: 0,fixed_acidity,volatile acidity,citric acid,residual_sugar,chlorides,free sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,,
3,1606.900000,7.853333,0.517000,0.281000,5.140000,0.077033,39.216667,122.033333,0.995744,3.257667,0.506333,10.215000
4,1833.828704,7.288889,0.457963,0.272315,4.153704,0.060056,20.636574,103.432870,0.994833,3.231620,0.505648,10.180093
5,1829.803087,7.326801,0.389614,0.307722,5.804116,0.064666,30.237371,120.839102,0.995849,3.212189,0.526403,9.837783
6,2173.488011,7.177257,0.313863,0.323583,5.549753,0.054157,31.165021,115.410790,0.994558,3.217726,0.532549,10.587553
7,2155.756256,7.128962,0.288800,0.334764,4.731696,0.045272,30.422150,108.498610,0.993126,3.228072,0.547025,11.386006
8,2170.704663,6.835233,0.291010,0.332539,5.382902,0.041124,34.533679,117.518135,0.992514,3.223212,0.512487,11.678756
9,980.400000,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

In [58]:
w_df.groupby('alcohol').mean()

C:\Users\nguye\AppData\Local\Temp\ipykernel_2172\2165059438.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  w_df.groupby('alcohol').mean()

,Unnamed: 0,fixed_acidity,volatile acidity,citric acid,residual_sugar,chlorides,free sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,quality
alcohol,,,,,,,,,,,,
8.00,2945.000000,4.350000,0.202500,0.220000,3.025000,0.037000,76.500000,158.000000,0.995100,3.380000,0.430000,4.000000
8.40,2551.000000,8.700000,0.382000,0.362000,3.280000,0.087000,17.000000,69.600000,0.996828,3.080000,0.568000,4.600000
8.50,2246.700000,7.270000,0.315000,0.397000,10.155000,0.063700,42.600000,167.700000,0.998436,3.176000,0.522000,5.500000
8.60,1480.478261,7.200000,0.293913,0.440435,12.386957,0.050696,45.782609,173.043478,0.998406,3.114783,0.494783,5.173913
8.70,1826.600000,7.103750,0.291188,0.457500,12.678750,0.052375,42.437500,160.512500,0.998180,3.085000,0.464625,5.550000
...,...,...,...,...,...,...,...,...,...,...,...,...
13.90,2769.333333,5.833333,0.300000,0.233333,2.133333,0.031667,25.333333,111.333333,0.988623,3.290000,0.616667,7.000000
14.00,1642.833333,5.483333,0.397500,0.173333,2.400000,0.042083,23.250000,79.416667,0.990411,3.485833,0.742500,6.833333
14.05,4503.000000,5.800000,0.610000,0.010000,8.400000,0.041000,31.000000,104.000000,0.990900,3.260000,0.720000,7.000000
14.20,3918.000000,6.400000,0.350000,0.280000,1.600000,0.037000,31.000000,113.000000,0.987790,3.120000,0.400000,7.000000
14.90,652.000000,15.900000,0.360000,0.650000,7.500000,0.096000,22.000000,71.000000,0.997600,2.980000,0.840000,5.000000

In [65]:
w_df.groupby(['color'], as_index=False)['quality'].mean()

   color   quality
0    red  5.636023
1  white  5.877909

In [67]:
w_df.groupby('color').mean().quality

color
red      5.636023
white    5.877909
Name: quality, dtype: float64

In [68]:
w_df.describe().pH

count    6497.000000
mean        3.218501
std         0.160787
min         2.720000
25%         3.110000
50%         3.210000
75%         3.320000
max         4.010000
Name: pH, dtype: float64

In [69]:
bin_edges = [2.72, 3.11, 3.21, 3.32, 4.01]
bin_names = ['high', 'mod_high', 'medium', 'low']

w_df['acidity_levels'] = pd.cut(w_df['pH'], bin_edges, bin_names)

w_df.head()

,Unnamed: 0,fixed_acidity,volatile acidity,citric acid,residual_sugar,chlorides,free sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,"(3.32, 4.01]"
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,"(3.11, 3.21]"
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,"(3.21, 3.32]"
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,"(3.11, 3.21]"
4,4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,"(3.32, 4.01]"

In [70]:
w_df.groupby('acidity_levels').mean().quality

C:\Users\nguye\AppData\Local\Temp\ipykernel_2172\3834500669.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  w_df.groupby('acidity_levels').mean().quality

acidity_levels
(2.72, 3.11]    5.783343
(3.11, 3.21]    5.784540
(3.21, 3.32]    5.850832
(3.32, 4.01]    5.859593
Name: quality, dtype: float64

In [71]:
w_df.head()

,Unnamed: 0,fixed_acidity,volatile acidity,citric acid,residual_sugar,chlorides,free sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,"(3.32, 4.01]"
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,"(3.11, 3.21]"
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,"(3.21, 3.32]"
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,"(3.11, 3.21]"
4,4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,"(3.32, 4.01]"

In [74]:
w_df.alcohol.median()

10.3

In [78]:
low_alcohol = w_df.query('alcohol < 10.3')

high_alcohol = w_df.query('alcohol >= 10.3')

num_samples = w_df.shape[0]

num_samples == low_alcohol['quality'].count() + high_alcohol['quality'].count()

True

In [80]:
w_df.residual_sugar.median()

low_sugar = w_df.query('residual_sugar < 3')

high_sugar = w_df.query('residual_sugar >= 3')

low_sugar.quality.mean(), high_sugar.quality.mean()

(5.808800743724822, 5.82782874617737)